@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.connect-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://bafybeihd45vo4kkn4h72mepr2mzpr4qmfagd3gbgt3mij77za54d74d4ba.ipfs.dweb.link?filename=PoweredbyMojo.png") no-repeat center center;
  background-size: contain;
  opacity: 0.15;
  z-index: -1;
}

.logo {
  width: 250px;
  height: auto;
  animation: pulseGlow 3s infinite ease-in-out;
}

@keyframes pulseGlow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 10px rgba(137, 43, 226, 0.5));
  }
  50% {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 20px rgba(255, 165, 0, 0.7));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 10px rgba(173, 216, 230, 0.5));
  }
}